<div>
	<div class="pageHeading">
		<table class='titleTable'>
			<td><div class="about_us"><span class="noDisplay">About Us</span></div></td>
			<td>About Us</td>
			<td><div class="about_us"><span class="noDisplay">About Us</span></div></td>
		</table>
	</div>
	<div class="pageContent">
		<h3 class="titleLevel2" id="introduction">Menu</h3>
		<table class="centredTable">
			<tr>
				<td class="centredCell">
					<div class="textParagraph">
						<ul>
							<li><a class="loneAnchor" ng-click="scrollTo('introduction')">Introduction</a></li>
							<li><a class="loneAnchor" ng-click="scrollTo('getting_involved')">Getting Involved</a></li>
							<li><a class="loneAnchor" ng-click="scrollTo('how_are_we_run')">How are we run?</a></li>
							<li><a class="loneAnchor" ng-click="scrollTo('booking_a_court')">Booking a Court</a></li>
							<li><a class="loneAnchor" ng-click="scrollTo('leisure_centre_membership')">Leisure Centre Membership</a></li>
							<li><a class="loneAnchor" ng-click="scrollTo('ladders')">Ladders</a></li>
							<li><a class="loneAnchor" ng-click="scrollTo('league_squash_racketball')">League Squash &amp; Racketball</a></li>
							<ul>
								<li><a class="loneAnchor" ng-click="scrollTo('club_membership')">Club Membership</a></li>
								<li><a class="loneAnchor" ng-click="scrollTo('juniors')">Juniors</a></li>
								<li><a class="loneAnchor" ng-click="scrollTo('rankings')">Rankings</a></li>
								<li><a class="loneAnchor" ng-click="scrollTo('challenge_system')">Challenge System</a></li>
								<li><a class="loneAnchor" ng-click="scrollTo('league_match_fees')">League Match Fees</a></li>
							</ul>
							<li><a class="loneAnchor" ng-click="scrollTo('events')">Events</a></li>
							<ul>
								<li><a class="loneAnchor" ng-click="scrollTo('annual_tour')">Annual Tour</a></li>
								<li><a class="loneAnchor" ng-click="scrollTo('llantrisant_open')">Llantrisant Open</a></li>
								<li><a class="loneAnchor" ng-click="scrollTo('llantrisant_one_day')">Llantrisant One Day Tournaments</a></li>
								<li><a class="loneAnchor" ng-click="scrollTo('christmas_tournament')">Christmas Tournament</a></li>
								<li><a class="loneAnchor" ng-click="scrollTo('racketball_tournaments')">Racketball Tournaments</a></li>
							</ul>
							<li><a class="loneAnchor" ng-click="scrollTo('constitution')">Constitution</a></li>
							<li><a class="loneAnchor" ng-click="scrollTo('safeguarding')">Safeguarding</a></li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td class="centredCell">
					<div>
						<h3 class="titleLevel2" id="introduction">Introduction</h3>
						<p class="textParagraph">
							We are a thriving, friendly and sociable club and we always welcome new members of all ages and abilities. We have a handful of Squash teams in the South Wales/Mid Glam leagues, and a growing contingent of regular Racketball players too.
							We now hold an annual <a class="loneAnchor" ng-click="scrollTo('llantrisant_open')">Open Squash tournament</a> each Summer that is on the <a class="loneAnchor" href='https://www.squash.wales"'>Squash Wales</a> calendar, and we
							try to hold a variety of fun <a class="loneAnchor" ng-click="scrollTo('events')">events</a> throughout the year (e.g. <a class="loneAnchor" ng-click="scrollTo('christmas_tournament')">Christmas squash tournament</a>, <a class="loneAnchor" ng-click="scrollTo('racketball_tournaments')">racketball tournament</a> nights, curry nights, charity cycles, golf tournaments, <a class="loneAnchor" ng-click="scrollTo('annual_tour')">squash tour</a> weekend away, etc), as well as popping to the pub for the occasional pint.
						</p>
						<h3 class="titleLevel2" id="getting_involved">Getting Involved</h3>
						<p class="textParagraph">
							For squash, "club night" is generally arranged through whatsapp on an ad-hoc basis. Out of season (May-Aug) generally on a Wed or Thurs. For racketball, there are a handful of groups of players that play on Friday and Sunday evenings with a general mix-in/round robin approach. Another way to get involved in squash would be to <a class="loneAnchor" href="./ladders">join the box leagues ladder</a>, or pop down to the centre's courts on a <a class="loneAnchor" href="./fixtures">home league match</a> from 19:15 onwards and have a chat to one of the players/supporters that will be in attendence.
							Some of the Racketball players try to block book a regular court slot and have a round robin together, e.g. Friday 17:45 to 19:15.
							<ul class="noBulletList">
								<li class="textParagraphList">For any <b class="loneAnchor">Squash</b> queries feel free to contact <b class="loneAnchor">Ade</b> via email on <a class="loneAnchor" href="mailto:apbmole@gmail.com">apbmole@gmail.com</a>.</li>
								<li class="textParagraphList">For any <b class="loneAnchor">Racketball</b> queries feel free to contact <b class="loneAnchor">Tim</b> on <b class="loneAnchor">07859894472</b>.</li>
							</ul>
						</p>
						<h3 class="titleLevel2" id="how_are_we_run">How are we run?</h3>
						<p class="textParagraph">
							The club is privately run and organised by a small committee, but squash and racketball is played on the courts at <a class="loneAnchor" href='http://www2.rctcbc.gov.uk/en/leisure/findacentre/llantrisantleisurecentre/llantrisantleisurecentre.aspx'>Llantrisant Leisure Centre</a> which is owned and run by <a class="loneAnchor" href='http://www.rctcbc.gov.uk/'>Rhondda Cynon Taf Council</a>.
						</p>
						<h3 class="titleLevel2" id="booking_a_court">Booking a Court</h3>
						<p class="textParagraph">
							All court bookings for private play are managed and paid for through the <a class="loneAnchor" href='http://www2.rctcbc.gov.uk/en/leisure/findacentre/llantrisantleisurecentre/llantrisantleisurecentre.aspx'>Llantrisant Leisure Centre</a> reception, but if you are a monthly paying leisure centre member
							then you can use the RCT Leisure For Life <a class="loneAnchor" href='https://leisure.rctcbc.gov.uk/connect/mrmlogin.aspx'>on-line booking facility</a> or <a class='loneAnchor' href="https://www.rctcbc.gov.uk/EN/Newsroom/PressReleases/2018/January/GetthelatestLeisureforLifenewswithournewAPP.aspx">Mobile App</a> for any activity, not just squash. Squash court slots are for 45 minutes.
						</p>
						<h3 class="titleLevel2" id="leisure_centre_membership">Leisure Centre Membership</h3>
						<p class="textParagraph">
							A Monthly <a class="loneAnchor" href='http://www2.rctcbc.gov.uk/en/leisure/joinandsave/joinandsave.aspx'>Leisure For Life membership</a> is available through the <a  class="loneAnchor" href='http://www2.rctcbc.gov.uk/en/leisure/findacentre/llantrisantleisurecentre/llantrisantleisurecentre.aspx'>Leisure Centre</a> and entitles you to book and use activities at any of the <a class="loneAnchor" href='http://www2.rctcbc.gov.uk/en/leisure/findacentre/findaleisurecentre.aspx'>RCT leisure centres</a>.
							Your half of the Squash court fee is <b>FREE</b> if you pay monthly. The club members are entitled to a corporate discount if an officially registered member, so please enquire directly to Ade (07949077329) if you are interested in this (as of 2018 it was approx. £28.50 pcm by Direct Debit for full use of the centre and classes).
						</p>
						<h3 class="titleLevel2" id="ladders">Ladders</h3>
						<p class="textParagraph">
							We have a large, active <a class="loneAnchor" href='./ladders'>ladder</a> for Squash which is <b>FREE</b> to join. It is run on a platform called <a class="loneAnchor" href="{{ configuration.CONSTANTS.SPORTYHQCLUB }}">Squash Levels</a> and the dates and box list are available to view on the website under the <a class="loneAnchor" href='./ladders'>ladders page</a>. You do not need to be a club member to play on our ladders. Ladder cycles are approximately 6-7 weeks long depending on the time of year and number of participants in each box.
							To join the <b>Squash ladder</b> please send your <b>Full name, Email Address</b> and <b>Mobile number</b> to Ade on <b>Whatsapp (07949077329)</b> or email <a class="loneAnchor" href="mailto:{{club.CONTACTS.EMAIL}}">{{club.CONTACTS.EMAIL}}</a>. You will also need the registration link for the Llantrisant boxes on Squash Levels <a class="loneAnchor" href="{{ configuration.CONSTANTS.SPORTYHQCLUBREG }}">Squash Levels</a> and you can login, find the <a class="loneAnchor" href="{{ configuration.CONSTANTS.SPORTYHQSQUASHLADDER }}">Llantrisant Squash Boxes</a>.
						</p>
						<h3 class="titleLevel2" id="league_squash_racketball">League Squash & Racketball</h3>
						<p class="textParagraph">
							We have {{teams.length}} teams spanning many divisions and levels in the <a class="loneAnchor" href='http://walessquash.countyleagues.co.uk/'>South Wales and Mid Glamorgan leagues</a> that are run by <a class="loneAnchor" href='https://www.squash.wales"'>Squash Wales</a>.
						</p>
						<table class="centredTable">
							<tr>
								<td>
									<ul class="noBulletList">
										<li class="textParagraphList" ng-repeat='team in teams'>
											<strong>{{ team.teamName }}</strong> - <a class="loneAnchor" href="{{ team.teamUrl }}">{{ team.divisionName }}</a>
										</li>
									</ul>
								</td>
							</tr>
						</table>
						<p class="textParagraph">
							The Squash League Season runs approximately September to April, split into Winter and Spring seasons which have promotion/relegation changes between those seasons.
							<!--The Racketball Summer League runs for one period, approximately May to August.-->
							We have a club rule that if you wish to play for a Llantrisant league team, then you are not permitted to play for another club in the league.
							Home matches for each team are on a fixed night, but away matches outside Premier A could be on any night, as dictated by the team you are visiting.
						</p>
						<h4 class="titleLevel3" id="club_membership">Club Membership</h4>
						<p class="textParagraph">
							Due to the introduction of an annual <a class="loneAnchor" href="https://squashwales.com/membership/">Squash Wales Membership</a> facility which has reduced our club costs, our annual membership fee for our club is now £20 pa (Season: 2023-2024) for <b>adult <u>LEAGUE</u> players</b>. Membership is <b>FREE for juniors and students and first year of joining for all others</b>.
							The Membership fee will be decided upon by the committee each year, and goes towards balls and other costs.
						</p>
						<h4 class="titleLevel3" id="juniors">Juniors</h4>
						<p class="textParagraph">
							Junior coaching sessions are run by fully qualified coaches. <a class="loneAnchor" href='./#/coaching'>See more details of junior coaching</a>. We also allow and would actively encourage the more confident and age appropriate juniors to participate in the competitive adult league season within our teams, to get good league squash experience and help develop their game. Our club acknowledges the duty of care to <a class="loneAnchor" ng-click="scrollTo('safeguarding')">safeguard</a> and promote the welfare of children.
						</p>
						<h4 class="titleLevel3" id="rankings">Rankings</h4>
						<p class="textParagraph">
							The ranking committee is made up of captains and committee members and they discuss and decide on the <a class="loneAnchor" href='./#/club_ranking_list'>rankings</a> for league teams. A club ranking list is created and published at the beginning of the summer, during which a challenge process is activated.
							The final club rankings are decided upon in time for submission to <a class="loneAnchor" href='https://www.squash.wales'>Squash Wales</a> before the Winter Season begins. <a class="loneAnchor" href='./#/club_ranking_list'>Rankings</a> can be revised (for South Wales teams only) during the season within individual teams but only if agreed with Squash Wales.
							You will not be ranked unless you have paid your annual membership fee where applicable. The current committee as of August 2024 is:
							<ul>
								<li class="textParagraphList"><strong>Jason Jones (Chairperson)</strong></li>
								<li class="textParagraphList"><strong>Adrian Brace (Secretary & A Captain)</strong></li>
								<li class="textParagraphList"><strong>Richard Timms (Treasurer & C Captain)</strong></li>
								<li class="textParagraphList"><strong>Tom Penberthy (B Captain)</strong></li>
								<li class="textParagraphList"><strong>Sam Norris (Former D Captain)</strong></li>
								<li class="textParagraphList"><strong>Angharad Llewellyn (Former D Captain)</strong></li>
								<li class="textParagraphList"><strong>Naomi Jones (Junior Coach and E Captain)</strong></li>
								<li class="textParagraphList"><strong>Ryan Vaughan (D Captain)</strong></li>
							</ul>
						</p>
						<p class="textParagraph">
							Ranking for league squash is determined by Squash Wales' own rules of Ranking using Squash Levels and a 20% tolerance. We also try to take other factors into consideration and is done as best we can as a voluntarily run club. Some of these factors (though not limitted to) are ability, availability on team nights, verbal commitment and declaration of work and family commitments, payment of membership fee, injury status, team's division relative to rest of the south wales leagues, team's division relative to other teams in the club, results from the challenge system, reliability and attendence for team squash in previous seasons, potential rotation and development of juniors.
						</p>
						<h4 class="titleLevel3" id="challenge_system">Challenge System</h4>
						<p class="textParagraph">
							We run a challenge system through the summer months and the christmas break between seasons and the rules are as follows:
						</p>
						<ul class='textParagraphList'>
							<li class='textParagraphList'>Challenge 1 place above ranked order, unless 1 place above you gives permission to skip over them.</li>
							<li class='textParagraphList'>Players agree on best of 3 or best of 1 match</li>
							<li class='textParagraphList'>No agreement? Then best of 3 matches</li>
							<li class='textParagraphList'>Challenge matches have to be finalised within 2 weeks after the first match has played</li>
							<li class='textParagraphList'>Players referee own challenges or can ask for a third person to ref</li>
							<li class='textParagraphList'>If a player being challenged ‘avoids’ challenger, then the ranking committee will decide on course of action</li>
							<li class='textParagraphList'>The ranking committee must be informed of all the results of challenge matches so that the ranking list can be amended</li>
							<li class='textParagraphList'>Any drawn challenges will result in the rank order remaining unchanged</li>
							<li class='textParagraphList'>Highest ranked challenge takes preference</li>
							<li class='textParagraphList'>Once a challenge has been completed, there can be no re-challenge between the same 2 players</li>
							<li class='textParagraphList'>Any problems/queries, please contact a member of the ranking committee</li>
							<li class='textParagraphList'>The ranking committee currently consists of the committee members & team captains</li>
						</ul>			
						<h4 class="titleLevel3" id="league_match_fees">League Match Fees</h4>
						<p class="textParagraph">
							The cost of hosting HOME League matches comprises of <b>court time hire</b> from the leisure centre (2 courts all evening from 19:15 onwards) and <b>catering costs</b> to feed both teams.
							These costs are charged to team players who play each home and away fixture as a match fee on the night. The amount charged is at the captain's discretion and depends on catering arrangements and court fees for that given season.
							The match fees charged to Juniors/Students will be at a reduced rate and the club will make up the difference. Players who play "up" for a team who have another match for their own team within the same week will also be charged a reduced rate for the match fee.
						</p>
						<h3 class="titleLevel2" id="events">Events</h3>
						<h4 class="titleLevel3" id="annual_tour">Annual Tour</h4>
						<p class="textParagraph">
							The 1st May bank holiday of every year is reserved for the annual "Tour". This may or may not involve a shorthaul flight abroad and is generally 2 or 3 nights but always over the bank holiday weekend. It's very much a social tour. We don't always take rackets to play squash/racketball. If there is a local squash club at our chosen destination then every effort is made to arrange a ranked match up if they are willing and available to put out a list of players.
						</p>
						<h4 class="titleLevel3" id="llantrisant_open">Llantrisant Open</h4>
						<p class="textParagraph">
							We used to host a major ranked <a class="loneAnchor" href='./#/tournament_details'>Open Sqaush tournament</a> each year in the summer, generally in early to mid June. We grew this to become a PSA Satellite event attracting a number of players from the PSA Top 100 and offer excellent prize money, throughout all the grades.
						</p>
						<h4 class="titleLevel3" id="llantrisant_one_day">Llantrisant One Day Tournaments</h4>
						<p class="textParagraph">
							We host ranked <a class="loneAnchor" href='./#/tournament_details'>ONE DAY OPEN TOURNAMENTS</a> throughout the year, with 4 grades of 8 players playing MONRAD format.
						</p>
						<h4 class="titleLevel3" id="christmas_tournament">Christmas Tournament</h4>
						<p class="textParagraph">
							We hold a 1 day annual Christmas Handicap Tournament, usually on the last working day of the year after Christmas, depending when Christmas Day falls. This is a compeitive and sociable event where we generally have a curry, drinks, killer darts and killer pool afterwards in a local pub. There is an entry fee, prize money, and the two finalists of the tournament can win free membership for the following season.
						</p>
						<h4 class="titleLevel3" id="racketball_tournaments">Racketball Tournaments</h4>
						<p class="textParagraph">
							The racketball contingent hold occasional Racketball tournaments in the year (generally summer and winter) which are a one day or evening event of a 2 league racketball round robin followed by a final between league winners, and then a curry (& beers). We are also very proud that the club has hosted the South Wales Racketball Championships and the Llantrisant Racketball Championships, raising lots of money for <a class="loneAnchor" target="_blank" href="https://www.macmillan.org.uk">Macmillan Cancer Support</a> over the years.
						</p>
						<h3 class="titleLevel2" id="constitution">Constitution</h3>
						<p class="textParagraph">
							To view our Club Constitution <a class="loneAnchor" target="_blank" href='./public/pdfs/Llantrisant_Squash_Club_Constitution.pdf'>Click Here</a>.
						</p>
						<h3 class="titleLevel2" id="safeguarding">Safeguarding</h3>
						<p class="textParagraph">
							Our club acknowledges the duty of care to safeguard and promote the welfare of children and is committed to ensuring safeguarding practice reflects statutory responsibilities, government guidance and complies with best practice and squash Wales requirements (<a class="loneAnchor" target="_blank" href='https://squashwales.com/governance/safeguarding/'>Squash Wales safeguarding</a>).
							For our full statement and policy <a class="loneAnchor" target="_blank" href='./public/pdfs/Llantrisant_Squash_Safeguard_statement-1.pdf'>Click Here</a>.
						</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>