<strong>
    <a class="loneAnchor" ng-show="!showChallengeRules" ng-click="showHideRules();">Show Challenge System Rules</a>
    <a class="loneAnchor" ng-show="showChallengeRules" ng-click="showHideRules();">Hide Challenge System Rules</a>
</strong>
<div ng-show="showChallengeRules">
    <p class="textParagraph">
        We run a challenge system through the summer months and the christmas break between seasons and the rules are as follows:
    </p>
    <ul class='textParagraphList'>
        <li class='textParagraphList'>Challenge 1 place above ranked order</li>
        <li class='textParagraphList'>Players agree on best of 3 or best of 1 match</li>
        <li class='textParagraphList'>No agreement? Then best of 3 matches</li>
        <li class='textParagraphList'>Challenge matches have to be finalised within 2 weeks after the first match has played</li>
        <li class='textParagraphList'>Players referee own challenges or can ask for a third person to ref</li>
        <li class='textParagraphList'>If a player being challenged ‘avoids’ challenger, then the ranking committee will decide on course of action</li>
        <li class='textParagraphList'>The ranking committee must be informed of all the results of challenge matches so that the ranking list can be amended</li>
        <li class='textParagraphList'>Any drawn challenges will result in the rank order remaining unchanged</li>
        <li class='textParagraphList'>Highest ranked challenge takes preference</li>
        <li class='textParagraphList'>Once a challenge has been completed, there can be no re-challenge between the same 2 players</li>
        <li class='textParagraphList'>Any problems/queries, please contact a member of the ranking committee</li>
        <li class='textParagraphList'>The ranking committee currently consists of the committee members & team captains</li>
    </ul>
</div>