<div>
	<div class="pageContent">
		<div ng-include src='tournament_header'></div>
	</div>
	<div class="pageHeading">
		<table class='titleTable'>
			<td><div class="tournament_history"><span class="noDisplay">Tournament Results</span></div></td>
			<td>Results</td>
		</table>
	</div>
	<br/>
	<br/>
	<div class="pageContent">
		<div ng-repeat="tournament in tournamentHistory">
			<table class='tournamentTable'>
				<tr>
					<td>				
						<div class='dataTable'>					
							<table class='dataTable'>
								<thead>
									<tr>
										<th style="text-align: left;" colspan="4">{{ tournament.year }} - Entrants: <strong class="warningMessage">{{ tournament.entrants }}</strong> <b ng-show='tournament.press_release'>- <a class="sortAnchor" target="_blank" href='./public/tournament_draw/{{ tournament.press_release }}'>Press Release</a></b></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="5"><a ng-repeat="draw in tournament.draw" class="tableCellAnchor" target="_blank" href='./public/tournament_draw/{{ draw.pdf }}'>{{ draw.name }}&nbsp;&nbsp;&nbsp;&nbsp;</a></td>										
									</tr>
								</tbody>
<!--							</table>
						</div>
						<div class="dataTable">
							<table>-->
								<thead>
									<tr>
										<th>Event</th>
										<th>Winner</th>
										<th>Winner Prize</th>
										<th>Runner-Up</th>
										<th>Runner-Up Prize</th>										
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="event in tournament.event" ng-class="{'lastRow': $last, 'notLastRow': !$last}">
										<td>{{ event.name }}</td>
										<td ng-show='{{ event.name.includes("Semi-finalists") || event.name.includes("Quarter-finalists") }}' colspan="3"><b>{{ event.winner + ', ' + event.runnerUp }}</b></td>
										<td ng-show='{{ !(event.name.includes("Semi-finalists")) && !(event.name.includes("Quarter-finalists")) }}'><b>{{ event.winner }}</b></td>
										<td ng-show='{{ event.name.includes("Semi-finalists") || event.name.includes("Quarter-finalists") }}'>{{ event.winnerPrize }}</td>
										<td ng-show='{{ !(event.name.includes("Semi-finalists")) && !(event.name.includes("Quarter-finalists")) }}'>{{ event.winnerPrize }}</td>
										<td ng-show='{{ !(event.name.includes("Semi-finalists")) && !(event.name.includes("Quarter-finalists")) }}'><b>{{ event.runnerUp }}</b></td>
										<td ng-show='{{ !(event.name.includes("Semi-finalists")) && !(event.name.includes("Quarter-finalists")) }}'>{{ event.runnerUpPrize }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</table>
			<br/>
		</div>
	</div>
</div>